# Core LangChain
langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langgraph
langsmith
langchainhub

# App Framework
streamlit

# Dependencies
python-dotenv
ipykernel
arxiv
wikipedia
cassio
tiktoken
bs4
requests
unstructured
unstructured[pdf]
pypdf
astrapy==0.7.1
