langchain
langchain_community
langchain_openai
langchain_groq
python-dotenv
langgraph
langsmith
langchain_core
ipykernel
arxiv
wikipedia
cassio
tiktoken
langchainhub
bs4
requests
unstructured
unstructured[pdf]
pypdf
astrapy==0.7.1
streamlit
